{{>head}}
{{>navbar}}
<div>
    <div class="col-8">
        <h1>Dragon Ball</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis assumenda maxime id, sint excepturi veritatis soluta voluptatum ipsum magni libero nesciunt inventore illo qui quae harum quaerat ipsa saepe corrupti.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Goku.png" class="img-thumbnail">
    </div>
</div>
{{>footer}}